body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;

}
.blue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203) ;
}
h1{
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 4px gray;
  border-bottom: 3px solid rgb(115,115,114);
  text-align: center;
  letter-spacing: 1.2em;
  }
  #basic span {
    font-weight: bold;
  }
  html{
    font-size: 20px;
  }
  