#top{
    background-color: #dcc9f4;
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.top-child{
    background-color: #ffd9df;
    width: 20%;
    text-align: center;
    margin: 10px 0;
 }
 #middle{
    width: 800px;
    height: 800px;
    margin: 20px auto;
    background-color: #ffd9df ;
    position: relative;
 }
 #middle-child01{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    top: 100px;
    left: 100px;
 }
#middle-child02{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    top: 300px;
    left: 300px;
}
#middle-child03{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    top: 500px;
    left: 500px;
}
#bottom{
    width: 800px;
    height: 300px;
    margin: auto;
    background-color: #87ceeb;
}
#bottom-child01{
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}
#bottom-child02{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    left: 200px;
}
#bottom-child03{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    left: 400px;
} 